{% extends 'base.html' %}

{% block title %}
Subcategories of {{ category.name }}
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Subcategories of {{ category.name }}</h2>
    <a href="{% url 'quiz:manage_subcategory' category.id %}" class="btn btn-primary mb-3">Add New Subcategory</a>

    <ul class="list-group mb-5">
        {% for subcategory in subcategories %}
            <li class="list-group-item">
                <a href="{% url 'quiz:subcategory_detail' subcategory.id %}">{{ subcategory.name }}</a>

                <a href="{% url 'quiz:manage_subcategory' category.id  %}" class="btn btn-sm btn-warning">Edit</a>

                
                <form action="{% url 'quiz:delete_subcategory' subcategory.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                </form>
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'quiz:editor_view' %}" class="btn btn-secondary">Back to Categories</a>
</div>
{% endblock %}
